data/spectrographs/VeloceRosso.hdf filter=lfs diff=lfs merge=lfs -text
data/spectrographs/MaroonX.hdf filter=lfs diff=lfs merge=lfs -text
data/spectrographs/MaroonXredShifted.hdf filter=lfs diff=lfs merge=lfs -text
data/spectrographs/model_spectrograph.hdf filter=lfs diff=lfs merge=lfs -text
data/spectrographs/NEID.hdf filter=lfs diff=lfs merge=lfs -text
